page-preguntas-lab3 {

    .toolbar-background {
        background-color: rgb(231, 166, 25);
    }
    .buttomColor{
        background-color: rgb(231, 166, 25);
    }
    .tamaño{
        img{
            max-width: 500px;
        }
    }
}
