page-preguntas-lab1 {

    .toolbar-background {
        background-color: rgb(67, 184, 38);
    }
    .buttomColor{
        background-color: rgb(67, 184, 38);
    }
    .tamaño{
        img{
            max-width: 500px;
        }
    }

}
