page-preguntas-lab2 {

    .toolbar-background {
        background-color: rgb(95, 184, 236);
    }
    .buttomColor{
        background-color: rgb(95, 184, 236);
    }
    .tamaño{
        img{
            max-width: 500px;
        }
    }

}
