<!--
  Generated template for the Laboratorio4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Laboratorio 4</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="ajuste">

  <ion-slides page>

    <ion-slide>
      <img src="../assets/img/panelesvonhumboldt.jpg" style="max-width:600px; border-radius:12px">
      <h2 class="font" style="font-size:xx-large;font-weight:bold">Sistema Solar Alexander Von Humboldt</h2>
    </ion-slide>

    <ion-slide>
      <h2 style="font-size:initial">
        El sistema solar Von Humboldt se encuentra en la zona verde entre el coliseo y preescolar. Este consta de 6 paneles solares
        de 325W cada uno.
      </h2>
      <img src="../assets/img/planos.PNG" style="max-width:300px">
      <h2 style="font-size:initial">
        El sistema solar Von Humboldt cuenta con un inversor marca Goodwe con la capacidad de hacer la función de regulador de tensión
        e inversor.
      </h2>
      <img src="../assets/img/inversorgoodwe.jpg" style="max-width:150px">
    </ion-slide>

    <ion-slide>
      <h2 class="font" style="font-size:xx-large; font-weight:bold">
        Sistema de Monitoreo en Línea.
      </h2>
      <img src="../assets/img/monitoreo.png" style="max-width:250px">
    </ion-slide>

    <ion-slide>
      <h2 style="font-size:large">
        El sistema se encuentra en estado:
      </h2>
      <h2 style="font-size:25px; font-weight:bold" *ngFor="let Database of DataFirebase | async" ks>
        {{Database.state}}
      </h2>
      <h2 style="font-size:large">
        La potencia generada actualmente es de:
      </h2>
      <h2 style="font-size:25px; font-weight:bold" *ngFor="let Database of DataFirebase | async" ks>
        {{Database.power}}
      </h2>
      <h2 style="font-size:large">
        Actualmente, gracias a este sistema fotovoltaico, obtenemos un ahorro de dinero de:
      </h2>
      <h2 style="font-size:25px; font-weight:bold" *ngFor="let Database of DataFirebase | async" ks>
        {{Database.totalmoney}}
      </h2>
      <img src="../assets/img/ahorro.jpg" style="max-width:200px">
    </ion-slide>

    <ion-slide class="font">
      <h2 style="font-size:250%; font-weight:bold;">
        ¿Sabias qué?
      </h2>

      <img src="../assets/img/arbol.png" style="max-width:300px">
      <h2>
        El Sistema fotovoltaico Von Humboldt actualmente ha salvado:
      </h2>
      <h2 style="font-size:25px" *ngFor="let Database of DataFirebase | async" ks>
        {{Database.totaltree}} Arboles
      </h2>
    </ion-slide>

    <ion-slide>
      <h2 style="font-size:xx-large" class="font">
        Para acceder al Sistema de Monitoreo dirígete al siguiente menú:
      </h2>
      <img src="../assets/img/toggleplay.gif" style="max-width:300px">
      <!-- <button ion-button block (click)="openToogleMenu()" class="buttomColor">
            Toogle Action
          </button> -->
      <h2 class="font" style="font-size:xx-large;">
        Sección de Preguntas
      </h2>
      <button ion-button (click)=preguntasLab4() class="buttomColor"> Continuar </button>
    </ion-slide>

  </ion-slides>

</ion-content>