page-laboratorio3 {
    .ajuste{
        img{
            width:inherit;
        }
    }

    .font{
        font-family: tabitha;
    }

    .toolbar-background {
        background-color: rgb(231, 166, 25);
    }
    .buttomColor{
        background-color: rgb(231, 166, 25);
    }


}
