page-preguntas-lab4 {
    .toolbar-background {
        background-color: rgb(136, 136, 136);
    }
    .buttomColor{
        background-color: rgb(136, 136, 136);
    }
    .tamaño{
        img{
            max-width: 500px;
        }
    }
}
